<h2><%= event.name %></h2>
<table>
  <tr>
    <td><strong>When</strong></td>
    <td>
      <% if event.upcoming? %>
        <%= distance_of_time_in_words_to_now(event.date) %> from now
      <% else %>
        <%= time_ago_in_words(event.date) %> ago
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Where</strong></td>
    <td><%= event.location %></td>
  </tr>
  <tr>
    <td><strong>Description</strong></td>
    <td><%= event.description %></td>
  </tr>
</table>
<p>
  <%= link_to "View Event", event %>
  <% if event.created_by?(@current_user) && event.upcoming? %>
   | <%= link_to "Send Invitations", new_invitation_path(id: event.id) %>
  <% end %>
</p>
<hr>