<h2><%= @event.name %></h2>
<table>
  <tr>
    <td><strong>Date</strong></td>
    <td><%= @event.date %></td>
  </tr>
  <tr>
    <td><strong>Location</strong></td>
    <td><%= @event.location %></td>
  </tr>
  <tr>
    <td><strong>Description</strong></td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td><strong>Creator</strong></td>
    <td><%= @event.creator.name %></td>
  </tr>
</table>