<h2><%= @event.name %></h2>
<table>
  <tr>
    <td><strong>When</strong></td>
    <td><%= @event.date.localtime %></td>
  </tr>
  <tr>
    <td><strong>Where</strong></td>
    <td><%= @event.location %></td>
  </tr>
  <tr>
    <td><strong>Description</strong></td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td><strong>Creator</strong></td>
    <td><%= @event.creator.name %></td>
  </tr>
</table>
<p><strong>Attendees</strong>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ul>
</p>
<p>
  <% if @event.created_by?(@current_user) && @event.upcoming? %>
    <%= link_to "Send Invitations", new_invitation_path(id: @event.id) %>
  <% end %>
</p>