<h1>Private Events - a Rails application</h1>
<% if logged_in? %>
  <h2>Calendar</h2>
  <p><%= link_to "Upcoming Events", upcoming_path %></p>
  <p><%= link_to "Pending Invitations", '#' %></p>
  <p><%= link_to "Previously Attended Events", attended_path %></p>
  <h2>My Events</h2>
  <p><%= link_to "Create event", new_event_path %></p>
  <p><%= link_to "Send Invitations", new_invitation_path %></p>
  <p><%= link_to "All my events", events_path %></p>
<% else %>
  <p>Welcome to my app!</p>
  <p><%= link_to "Sign up here", signup_path %></p>
<% end %>
