<h1>Private Events - a Rails application</h1>
<% if logged_in? %>
  <p><%= link_to "Create event", new_event_path %></p>
  <p><%= link_to "Events I created", events_path %></p>
  <p><%= link_to "Upcoming Events", upcoming_path %></p>
  <p><%= link_to "Previously Attended Events", attended_path %></p>
  <p><%= link_to "Pending Invitations", '#' %></p>
<% else %>
  <p>Welcome to my app!</p>
  <p><%= link_to "Sign up here", signup_path %></p>
<% end %>
