<h1><%= @event.name %></h1>
<table>
  <tr>
    <td><strong>Invited by</strong></td>
    <td><%= @inviter.name %></td>
  <tr>
    <td><strong>When</strong></td>
    <td>
      <%= @event.date %>(<%= distance_of_time_in_words_to_now(@event.date) %> from now)
    </td>
  </tr>
  <tr>
    <td><strong>Where</strong></td>
    <td><%= @event.location %></td>
  </tr>
  <tr>
    <td><strong>Description</strong></td>
    <td><%= @event.description %></td>
  </tr>
</table>
<br>
<table>
  <th colspan="2">
    <strong>Accept invitation?</strong>
  </th>
  <tr>
    <td>
      <%= form_for @invitation do |f| %>
        <%= f.submit "Yes" %>
      <% end %>
    </td>
    <td>
      <%= form_for @invitation, method: :delete, url: {action: "destroy"} do |f| %>
        <%= f.submit "No" %>
      <% end %>
    </td>
  </tr>
</table>
<p><%= link_to "See all pending invitations", pending_path %></p>
<!-- needs a form submitted invitation id and accept or decline.
based on that info the invitation accepted attribute can be set. 
then the event needs to be added to attended_events for that user -->